<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind CDN -->

    <title>IPC2 PIZZAS</title>
  </head>
  <body>
    {% include "navbar.html" %}

    <div
      class="h-screen mt-[70px] w-full bg-gradient-to-t from-[#ebbd34] to-[#eb9834] flex items-center justify-center"
    >
      <div
        class="w-full max-w-md p-6 bg-[#E9ECEE] shadow-2xl rounded-lg flex flex-col items-center"
      >
        <div class="mb-6">
          <img
            src="https://i.postimg.cc/QdRDH2py/IPC2-PIZZAS-500-x-500-px-1.png"
            class="w-[400px] h-[400px] rounded-lg"
            alt="Logo IPC2 - Pizzas"
          />
        </div>
        <h1 class="text-2xl font-bold mb-8">¡Las mejores pizzas de Guatemala!</h1>
        <p class="text-center">
            En IPC2 Pizzas, nos esforzamos por ofrecer la mejor calidad en cada
            uno de nuestros productos. ¡Ven y disfruta de nuestras deliciosas pizzas!
        </p>
      </div>
    </div>
  </body>
</html>
