<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#abbd7b]">
    {% extends 'navBar.html' %} {% block contenido %}
    <div>
      <div class="container mx-auto h-screen flex justify-center items-center">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
          <img
            class="w-full"
            src="https://cdn.shopify.com/s/files/1/0268/6861/files/Perros-vs-Gatos2_grande.jpg?v=1587405310"
            alt="Mascotas"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Agregar Mascota</div>

            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/submit" method="POST">
              <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="nombre"
                >
                  Nombre
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="nombre"
                  name="nombre"
                  type="text"
                  placeholder="Nombre de la mascota"
                />
              </div>
              <div class="mb-6">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="edad"
                >
                  Edad
                </label>
                <input
                  class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                  id="edad"
                  name="edad"
                  type="number"
                  placeholder="'x' años"
                />
              </div>
              <div class="mb-6">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="tipo"
                >
                  Tipo
                </label>
                <input
                  class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                  id="tipo"
                  name="tipo"
                  type="text"
                  placeholder="Gato, Perro, Loro, etx"
                />
              </div>
              <div class="flex items-center justify-between"></div>
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="submit"
                >
                  Guardar
                </button>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
